<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Lab03" connectionString="Server=192.168.60.1;Database=Lab03;User Id=wuangtien;Password=160505;"
   providerName="System.Data.SqlClient" />
  <add name="Lab03_23521572_LeQuangTien.Properties.Settings.Lab03ConnectionString"
   connectionString="Data Source=WUANGTIEN;Initial Catalog=Lab03;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>

